<h1 style="color: red; "> Super Store Analysis</h1>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# Read CSV files
df = pd.read_csv("Supermart Grocery Sales - Retail Analytics Dataset.csv")
df

,Order ID,Customer Name,Category,Sub Category,City,Order Date,Region,Sales,Discount,Profit,State
0,OD1,Harish,Oil & Masala,Masalas,Vellore,11-08-2017,North,1254,0.12,401.28,Tamil Nadu
1,OD2,Sudha,Beverages,Health Drinks,Krishnagiri,11-08-2017,South,749,0.18,149.80,Tamil Nadu
2,OD3,Hussain,Food Grains,Atta & Flour,Perambalur,06-12-2017,West,2360,0.21,165.20,Tamil Nadu
3,OD4,Jackson,Fruits & Veggies,Fresh Vegetables,Dharmapuri,10-11-2016,South,896,0.25,89.60,Tamil Nadu
4,OD5,Ridhesh,Food Grains,Organic Staples,Ooty,10-11-2016,South,2355,0.26,918.45,Tamil Nadu
...,...,...,...,...,...,...,...,...,...,...,...
9989,OD9990,Sudeep,"Eggs, Meat & Fish",Eggs,Madurai,12/24/2015,West,945,0.16,359.10,Tamil Nadu
9990,OD9991,Alan,Bakery,Biscuits,Kanyakumari,07-12-2015,West,1195,0.26,71.70,Tamil Nadu
9991,OD9992,Ravi,Food Grains,Rice,Bodi,06-06-2017,West,1567,0.16,501.44,Tamil Nadu
9992,OD9993,Peer,Oil & Masala,Spices,Pudukottai,10/16/2018,West,1659,0.15,597.24,Tamil Nadu
9993,OD9994,Ganesh,Food Grains,Atta & Flour,Tirunelveli,4/17/2018,West,1034,0.28,165.44,Tamil Nadu

In [5]:
df.sample

<bound method NDFrame.sample of      Order ID Customer Name           Category      Sub Category         City  \
0         OD1        Harish       Oil & Masala           Masalas      Vellore
1         OD2         Sudha          Beverages     Health Drinks  Krishnagiri
2         OD3       Hussain        Food Grains      Atta & Flour   Perambalur
3         OD4       Jackson   Fruits & Veggies  Fresh Vegetables   Dharmapuri
4         OD5       Ridhesh        Food Grains   Organic Staples         Ooty
...       ...           ...                ...               ...          ...
9989   OD9990        Sudeep  Eggs, Meat & Fish              Eggs      Madurai
9990   OD9991          Alan             Bakery          Biscuits  Kanyakumari
9991   OD9992          Ravi        Food Grains              Rice         Bodi
9992   OD9993          Peer       Oil & Masala            Spices   Pudukottai
9993   OD9994        Ganesh        Food Grains      Atta & Flour  Tirunelveli

      Order Date Region  Sales  Discount  Profit       State
0     11-08-2017  North   1254      0.12  401.28  Tamil Nadu
1     11-08-2017  South    749      0.18  149.80  Tamil Nadu
2     06-12-2017   West   2360      0.21  165.20  Tamil Nadu
3     10-11-2016  South    896      0.25   89.60  Tamil Nadu
4     10-11-2016  South   2355      0.26  918.45  Tamil Nadu
...          ...    ...    ...       ...     ...         ...
9989  12/24/2015   West    945      0.16  359.10  Tamil Nadu
9990  07-12-2015   West   1195      0.26   71.70  Tamil Nadu
9991  06-06-2017   West   1567      0.16  501.44  Tamil Nadu
9992  10/16/2018   West   1659      0.15  597.24  Tamil Nadu
9993   4/17/2018   West   1034      0.28  165.44  Tamil Nadu

[9994 rows x 11 columns]>

In [6]:
# Shape of the  data
df.shape

(9994, 11)

In [7]:
# size of data
df.size

109934

In [8]:
# Index of the DataFrame
df.index

RangeIndex(start=0, stop=9994, step=1)

In [10]:
# Column of the DataFrame
df.columns

Index(['Order ID', 'Customer Name', 'Category', 'Sub Category', 'City',
       'Order Date', 'Region', 'Sales', 'Discount', 'Profit', 'State'],
      dtype='object')